<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <form action="/edit" method="post">
        <input type="hidden" name="old_title" value="{{ old_title }}">

        <input type="text" name="title" placeholder="Book title" value="{{ book.title }}">
        <input type="text" name="author" placeholder="Book author" value="{{ book.author }}">

        <select name="category">
        {% for cat in categories %}
            <option value="{{ cat }}" {% if cat == book.category %}selected{% endif %}>{{ cat }}</option>
        {% endfor %}
        </select>

        <input type="number" name="year" placeholder="Year" value="{{ book.year }}">

        <input type="text" name="description" placeholder="Description" value="{{ book.description }}">

        <button type="submit"> Save </button><br>
    </form>
</body>
</html>
