<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Список книг</title>
  <style>
    body {
      font-family: Arial;
      padding: 20px;
    }

    select, button {
      padding: 6px 12px;
      font-size: 16px;
    }

    table {
      margin-top: 20px;
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f0f0f0;
    }

    .actions button {
      margin-right: 5px;
    }
  </style>
</head>
<body>

  <h2>Фільтр за категорією</h2>

  <form action="/">
    <select name="category">
      <option value="all" {% if selected_category == 'all' %}selected{% endif %}>Усі</option>
      {% for category in categories %}
        <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>
          {{ category }}
        </option>
      {% endfor %}
    </select>
    <button type="submit">Фільтрувати</button>
  </form>

  <h3>Добавить категорию</h3>
  <form method="GET" action="/add_category">
    <input type="text" name="name" placeholder="Новая категория">
    <button type="submit">Добавить</button>
  </form>


  <h3>Список книг</h3>
  <table>
    <thead>
      <tr>
        <th>Назва</th>
        <th>Автор</th>
        <th>Категорія</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.category }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
